.country_container{
  display: flex;
 
  flex-direction: column;
  align-items: center;
  justify-items: center;
  max-width: 200px;
  margin: auto;
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
  
  cursor: pointer;
  
}

.country_container:hover{
  opacity: 80%;
}

.country_flag{
  
  object-fit: cover;
  height: 100px;
  width: 200px;
}

.country_details{
  padding: 0.5rem;
}